# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.test
*.prof
*.magikc
*.log
*.*~

*.zip
cmd/smallgopher-server/goworld.json
cmd/smallgopher-worker/goworld.json
cmd/smallgopher-server/goworld.1.json
cmd/smallgopher-worker/offline/
.vscode/
magik/tmp.txt
